.root {
  background: url('./mapIcon.svg') no-repeat;
  cursor: pointer;
  height: 64px;
  left: -24.5px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -64px;
  transform-origin: 24.5px 64px;
  width: 49px;
}

.root > a {
  background: white;
  border-radius: 4px;
  display: inline-block;
  margin-top: 1ex;
  padding: 1ex;
  position: relative;
  top: 64px;
  white-space: nowrap;
}