.loading {
    font-style: italic;
    text-align: center;
}

.error {
    color: red;
    font-weight: bold;
    text-align: center;
}

.empty {
    background: url('./food.svg') center no-repeat;
    background-size: 75% 75%;
    height: 100%;
    opacity: 0.1;
}
