.header > *, .results > *, .footer > * {
  max-width: 768px;
  margin: auto;
  padding: 1em;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #4990E2;
  color: white;
  flex: 0 0 auto;
  text-align: center;
}

.results {
  background-color: lightgray;
  flex: 1 1 auto;
}

.footer {
  flex: 0 0 auto;
  padding: 1em;
  text-align: center;
}

:global * {
  box-sizing: border-box;
}

:global a {
  font-weight: bold;
  text-decoration: none;
}

:global a:hover, :global a:focus {
  text-decoration: underline;
}
