.root {
    display: flex;
}

.root input, .root button {
    font-size: 24px;
}

.root input {
    border: 1px solid gray;
    border-radius: 8px 0 0 8px;
    flex: 1 1 auto;
    padding: 4px 8px;
}

.root button {
    background: darkblue;
    border-radius: 0 8px 8px 0;
    border-width: 0;
    color: white;
    cursor: pointer;
    flex: 0 0 auto;
    padding: 4px 12px;
}
