.root {
    width: 100%;
}

.imageWrapper {
    align-items: center;
    background: white;
    border-radius: 8px;
    display: flex;
    height: 0;
    justify-content: center;
    margin-bottom: 1em;
    overflow: hidden;
    padding: 50% 0;
    position: relative;
}

.image {
    flex: 0 0 auto;
    /* Hack for portrait orientation. */
    max-height: 135%;
    position: absolute;
}

.name {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 1ex;
}

.name a, .detail a {
    color: gray;
}

.name span {
    display: block;
}

.details .detail {
    margin-bottom: 1ex;
}

.details .categories {
    margin-bottom: 1.5ex;
}

.categories > span {
    background: white;
    border-radius: 4px;
    border-width: 0;
    display: inline-block;
    margin-right: 1ex;
    padding: 4px;
}

.fav::before {
    content: '★★★★★';
    display: inline-block;
    font-family: monospace;
    /* Monospace is different for some reason. */
    height: 36px;
    overflow: hidden;
}
.fav1::before {
    width: 1em;
}
.fav15::before {
    width: 1.5em;
}
.fav2::before {
    width: 2em;
}
.fav25::before {
    width: 2.5em;
}
.fav3::before {
    width: 3em;
}
.fav35::before {
    width: 3.5em;
}
.fav4::before {
    width: 4em;
}
.fav45::before {
    width: 4.5em;
}
.fav5::before {
    width: 5em;
}

.closed {
    color: darkred;
}

.map {
    border-radius: 8px;
    margin-top: 1em;
    height: 240px;
    overflow: hidden;
    width: 100%;
}

@media (min-width: 600px) {
    .root {
        display: flex;
        flex-wrap: wrap;
    }

    .root > div {
        flex: 1 0 auto;
    }

    .root > div:first-child {
        flex-basis: 70%;
        flex-grow: 0;
        margin-right: 1em;
        max-width: 240px;
    }

    .root .map {
        flex: 0 0 100%;
    }

    .imageWrapper {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .name span {
        float: right;
        margin-left: 1ex;
    }
}
